<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/admin/orders"
        routerLinkActive="!bg-indigo-100 text-indigo-700"
        class="block px-4 py-2 rounded-lg text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 transition"
      >
        🛒 الطلبات
      </a>
      <a
        mat-list-item
        routerLink="/admin/products"
        routerLinkActive="!bg-indigo-100 text-indigo-700"
        class="block px-4 py-2 rounded-lg text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 transition"
      >
        📦 المنتجات
      </a>
      <a
        mat-list-item
        routerLink="/admin/categories"
        routerLinkActive="!bg-indigo-100 text-indigo-700"
        class="block px-4 py-2 rounded-lg text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 transition"
      >
        🗂️ التصنيفات
      </a>
      <a
        mat-list-item
        routerLink="/admin/subcategories"
        routerLinkActive="!bg-indigo-100 text-indigo-700"
        class="block px-4 py-2 rounded-lg text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 transition"
      >
        📑 التصنيفات الفرعية
      </a>

      <a
        mat-list-item
        routerLink="/admin/customers"
        routerLinkActive="!bg-indigo-100 text-indigo-700"
        class="block px-4 py-2 rounded-lg text-gray-700 hover:bg-indigo-50 hover:text-indigo-600 transition"
      >
        👥 الزبائن
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" matIconButton (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      }
      <span>salfatex</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
