:host {
  display: block;
}
.app-input-group--captcha {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .recaptcha-container {
    display: flex;
    justify-content: flex-end;
    direction: ltr;
  }
}
