<section class="product" *ngIf="product$ | async as product; else loading">
  {{ product | json }}
  <div class="product__gallery">
    <img *ngFor="let image of product.images" [src]="image" [alt]="product.name" />
  </div>

  <div class="product__info">
    <h1>
      {{ product.name }}
    </h1>

    <p class="product__price">{{ product.price | currency : 'USD' : 'symbol' : '1.0-0' }}</p>
    <p class="product__color">{{ product.color }}</p>

    <p class="product__description">
      {{ product.description }}
    </p>

    <div class="product__materials" *ngIf="product.materials as materials">
      <h2>الخامات</h2>
      <p>
        {{ materials }}
      </p>
    </div>

    <ul class="product__features" *ngIf="product.features?.length">
      <li *ngFor="let feature of product.features">
        {{ feature }}
      </li>
    </ul>

    <div class="product__actions">
      <ng-container *ngIf="getQuantity(product.id) === 0; else quantityControls">
        <button type="button" class="product__add" (click)="addToCart(product)">
          أضف إلى السلة
        </button>
      </ng-container>

      <ng-template #quantityControls>
        <div class="product__quantity">
          <button type="button" (click)="decrement(product)" aria-label="إنقاص الكمية">−</button>
          <span>{{ getQuantity(product.id) }}</span>
          <button type="button" (click)="increment(product)" aria-label="زيادة الكمية">+</button>
        </div>
      </ng-template>
    </div>

    <a routerLink="['/categories', product.categoryId]" class="product__back">
      ⬅︎ المزيد من المنتجات
    </a>
  </div>
</section>

<ng-template #loading>
  <p class="product__loading">...يتم تحميل المنتج</p>
</ng-template>
